In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mlxtend) (1.26.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mlxtend) (2.1.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mlxtend) (3.8.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\bhard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
    --------------------------------------- 0.0/1.4 MB 682.7 kB/s eta 0:00:03
    --------------------------------------- 0.0/1.4 MB 682.7 kB/s eta 0:00:03
   - -------------------------------------- 0.1/1.4 MB 292.6 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.4 MB 1.0 MB/s eta 0:00:02
   ------------------------ --------------- 0.9/1.4 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 4.6 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [8]:

dataset = [
 ['A', 'B', 'C', 'D', 'F', 'H'],
 ['B', 'E', 'F', 'H'],
 ['A', 'C', 'E'],
 ['B', 'C', 'D', 'F', 'H'],
 ['A', 'B', 'C', 'D', 'E'],
 ['C','D','F','H'],
 ['A','C','D','H'],
 ['E','H']
]

In [9]:
encoder = TransactionEncoder()
transactions = encoder.fit_transform(dataset)
data = pd.DataFrame(transactions, columns=encoder.columns_)
data

       A      B      C      D      E      F      H
0   True   True   True   True  False   True   True
1  False   True  False  False   True   True   True
2   True  False   True  False   True  False  False
3  False   True   True   True  False   True   True
4   True   True   True   True   True  False  False
5  False  False   True   True  False   True   True
6   True  False   True   True  False  False   True
7  False  False  False  False   True  False   True

In [10]:
frequent_itemsets = apriori(data, min_support=0.5, use_colnames=True)
frequent_itemsets

    support   itemsets
0     0.500        (A)
1     0.500        (B)
2     0.750        (C)
3     0.625        (D)
4     0.500        (E)
5     0.500        (F)
6     0.750        (H)
7     0.500     (A, C)
8     0.625     (D, C)
9     0.500     (H, C)
10    0.500     (D, H)
11    0.500     (F, H)
12    0.500  (D, H, C)

In [11]:
frequent_itemsets = apriori(data, min_support=0.6, use_colnames=True)
frequent_itemsets

   support itemsets
0    0.750      (C)
1    0.625      (D)
2    0.750      (H)
3    0.625   (D, C)

In [12]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(D),(C),0.625,0.750,0.625,1.000000,1.333333,0.15625,inf,0.666667
1,(C),(D),0.750,0.625,0.625,0.833333,1.333333,0.15625,2.25,1.000000